.home-top{
    width: 75%;
    margin: 0 auto;
}

.home-topImg{
    width: 100%;
    opacity: 0.7;
    margin: 0 auto;
}

.home-topTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    position: absolute;
    top : 25%;
    left: 20%;
    color: white;
    z-index: 1;
}
.home-Title{
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    position: absolute;
    top : 27%;
    left: 20%;
    color: white;
    z-index: 1;
}
.home-galleryBtn{
    position: absolute;
    top : 55%;
    left: 20%;
    z-index: 1;
    border: none;
    padding: 15px;
    background-color: #79AEA3;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.home-middle{
    margin-top: 40px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-around;
}
.home-middleImg{
    width: 400px;
    aspect-ratio: 1;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.home-imgContainer{
    width: 500px;
    margin-left: 20px;
}

.home-galleryTitle{
    text-align: center;
    font-size: 50px;
}