.home-top{
    width: 75%;
    margin: 0 auto;
}

.home-topImg{
    width: 100%;
    opacity: 0.7;
    margin: 0 auto;
}

.home-topTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: absolute;
    top : 28%;
    left: 20%;
    color: white;
    z-index: 2;
    text-shadow: 1px 1px 6px white;
}
.home-Title{
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    position: absolute;
    top : 27%;
    left: 20%;
    color: white;
    z-index: 1;
}
.home-galleryBtn{
    position: absolute;
    top : 55%;
    left: 20%;
    z-index: 1;
    border: none;
    padding: 15px;
    background-color: #79AEA3;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.home-middle{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-around;
}
.home-middleImg{
    width: 400px;
    aspect-ratio: 1;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.home-imgContainer{
    width: 500px;
    margin-left: 20px;
}

.home-galleryTitle{
    text-align: center;
    font-size: 50px;
}
.home-TitleMobile{
    display: none;
}

.home-topTitleMobile{
    display: none;
}

/* mobile */

@media only screen and (max-width: 1200px){
   .home-topImg{
    display: none;
   }
   .home-topTitle{
    display: none;
   }
   .home-galleryBtn{
    display: none;
   }
   .home-Title{
    display: none;
   }
   .home-middle{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
   }

   .home-TitleMobile{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-align: center;
   }

   .home-topTitleMobile{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
   }
   .home-imgContainer{
    margin: 0;
    width: 400px;
   }
}